<%- include('../partials/header') %>
<%- include('../partials/sidebar') %>
<%- include('../partials/topbar') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Units</h1>
                    <p class="mb-4">This is data of Units</p>

                
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="btn-group">
                                
                                <a href="units/add" class="btn btn-primary active" aria-current="page"><i class="fas fa-solid fa-user-plus" ></i></a>
                                <a href="units/add" class="btn btn-primary">Add</a>
                               
                            </div>
                    
                            

                            <div class="text-center">
                                <%- include('../partials/alert') %>
                            </div>                   
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Unit</th>
                                            <th>Name</th>
                                            <th>Note</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Unit</th>
                                            <th>Name</th>
                                            <th>Note</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% units.forEach((item)=> { %>
                                            <tr>
                                                <td >
                                                    <%= item.unit %>
                                                </td>
                                                <td>
                                                    <%= item.name %>
                                                </td>
                                                <td>
                                                    <%= item.note %>
                                                </td>
                                                <td>
                                                    <div class="d-grid gap-2 d-md-block">
                                                        <a type="button"
                                                            class="btn btn-success rounded-circle"
                                                            href="/units/edit/<%= item.unit %>"><i class="fas fa-solid fa-pen"href="/edit"></i></a>
                                                        <a type="button"
                                                            class="btn btn-danger  rounded-circle"onclick="$('#modal-delete<%= item.unit %>').modal('show')"
                                                            title="Delete" ><i
                                                                class="fas fa-solid fa-trash"></i></a>
                                                    </div>
                                                        <div class="modal fade" id="modal-delete<%= item.unit %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Deleted confirmation</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"onclick="$('#modal-delete').modal('hide')">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p>Are you sure, you want to delete it?</p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"onclick="$('#modal-delete').modal('hide')">No</button>
                                                                        <a id="btn-delete" type="button" class="btn btn-primary" id="btn-deleted" href="units/delete/<%= item.unit %>">Yes</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                 </table>
                                 
     

                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

<%- include('../partials/footer') %>