<%- include('../partials/header') %>
<%- include('../partials/sidebar') %>
<%- include('../partials/topbar') %>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Users</h1>
                    <p class="mb-4">This is data of Users</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="btn-group">
                                
                                <a href="/users/add" class="btn btn-primary active" aria-current="page"><i class="fas fa-solid fa-user-plus" ></i></a>
                                <a href="/users/add" class="btn btn-primary">Add</a>
                               
                            </div>
                            
                            <div class="text-center">
                                <%- include('../partials/alert') %>
                            </div>                   
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="users-table" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>User ID</th>
                                            <th>Email</th>
                                            <th>Name</th>
                                            <th>Role</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>User ID</th>
                                            <th>Email</th>
                                            <th>Name</th>
                                            <th>Role</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                   
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

<%- include('../partials/footer') %>