<%- include('../partials/header') %>


    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Goods</h1>

        <!-- DataTales Example -->
        <form action="" method="post" encType="multipart/form-data">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold text-primary">Form add</h6>
                        
                </div>
                <div class="card-body">

                    <div class="row mb-3 form-switch">
                        <label for="barcode" class="form-check-label col-sm-2 text-lg">Barcode</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="barcode" required>
                        </div>
                    </div>
                    <div class="row mb-3 form-switch">

                        <label for="name" class="form-check-label col-sm-2 text-lg">Name</label>
                        <div class="col-sm-10">
                            <input type="string" class="form-control" name="name" required>
                        </div>
                    </div>
                    <div class="row mb-3 form-switch">

                        <label for="stock" class="form-check-label col-sm-2 text-lg">Stock</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="stock" value="0" required>
                        </div>
                    </div>
                    <div class="row mb-3 form-switch">

                        <label for="purchaseprice" class="form-check-label col-sm-2 text-lg">Purchase Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="purchaseprice" value="0" required>
                        </div>
                    </div>
                    <div class="row mb-3 form-switch">

                        <label for="sellingprice" class="form-check-label col-sm-2 text-lg">Selling Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="sellingprice" value="0" required>
                        </div>
                    </div>

                    <div class="row mb-3 form-switch">
                        <label for="unit" class="form-check-label col-sm-2 text-lg">Unit</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="unit" required>
                                <option disabled selected>Choose unit...</option>
                                <% units.forEach((item)=> { %>
                                    <option value="<%= item.unit %>">
                                        <%= item.unit %> - <%= item.name %>
                                    </option>

                                    <% }) %>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3 form-switch">
                        <label for="unit" class="form-check-label col-sm-2 text-lg">Picture</label>
                        <div class="col-sm-10">
                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input" id="imgInp" name="sampleFile" required>
                                <label class="custom-file-label " for="validatedCustomFile">Choose file...</label>
                            </div>
                            <img id="blah" src="#" alt="your image" width="400" height="auto" />
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-success btn-icon-split">
                            <span class="icon text-white-50"><i class="fas fa-solid fa-database"></i></span>
                            <span class="text">Save</span>
                        </button>
                   
                        
                        <div class="btn-group">
                            <a href="/goods" class="btn btn-warning active" aria-current="page"><i
                                    class="fas fa-fw fa-undo-alt"></i></a>
                            <a href="/goods" class="btn btn-warning">Back</a>

                        </div>
                    </div>
                </div>
        </form>
    </div>
    </div>
    <script>
        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                blah.src = URL.createObjectURL(file)
            }
        }
        $('.custom-file-input').on('change', function () {
            let sampleFile = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(sampleFile);
        });
    </script>
    <!-- /.container-fluid -->

    <!-- End of Main Content -->

    <%- include('../partials/footer') %>